@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    @apply text-white;
    background-color: rgb(25, 24, 27);
}

form *:focus {
    @apply outline-none;
}
form input {
    @apply p-1 border border-white/[.3] rounded-lg bg-transparent text-white;
}

form input::placeholder {
    @apply text-white/[.5];
}

button, .button {
    @apply text-black py-1 px-2 rounded-lg uppercase lg:hover:bg-white lg:hover:border-white;
}

@keyframes compressing {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    31% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    81% {
        opacity: 1;
    }
}